/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2018, 12:22:11 AM
    Author     : José Ramírez <josedramirez07@gmail.com>
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

header {
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #232323;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

header img:first-child {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    filter: invert(100%);
}

main {
    margin-top: 60px;
}

.parallax-container {
    display: block;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.rellax img:first-child {
    display: block;
    min-width: 1400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*top:0px;*/
}

.rellax img:first-child {
    position: relative;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
}

.footer-info {
    display: block;
    background: #232323;
    width: 100%;
    height: 140px;
}
